In [2]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [5]:
tickers = ['PG', 'BEI.DE']

sec_data = pd.DataFrame()

for t in tickers:
    sec_data[t] = wb.DataReader(t, data_source = 'yahoo', start = '2007-1-1')['Adj Close']

In [7]:
sec_data.tail()

                    PG      BEI.DE
Date
2019-05-13  106.110001   99.139999
2019-05-14  105.599998   99.559998
2019-05-15  106.699997  100.199997
2019-05-16  108.110001  102.199997
2019-05-17  107.449997  102.300003

In [8]:
sec_returns = np.log(sec_data/ sec_data.shift(1))
sec_returns

                  PG    BEI.DE
Date
2007-01-03       NaN       NaN
2007-01-04 -0.007621  0.006545
2007-01-05 -0.008625 -0.020772
2007-01-08  0.002202  0.000202
2007-01-09 -0.002517 -0.022858
2007-01-10  0.011901 -0.012673
2007-01-11  0.006207  0.007498
2007-01-12  0.005554  0.009295
2007-01-16  0.000000  0.024572
2007-01-17  0.010304 -0.041783
2007-01-18  0.002750  0.011025
2007-01-19  0.008357 -0.002071
2007-01-22 -0.005615 -0.000829
2007-01-23 -0.001218  0.001037
2007-01-24 -0.001982  0.013382
2007-01-25 -0.009047 -0.019619
2007-01-26 -0.000925  0.000208
2007-01-29  0.000309  0.013050
2007-01-30 -0.004481  0.026202
2007-01-31  0.004326  0.032932
2007-02-01  0.007219 -0.010923
2007-02-02  0.000000  0.007035
2007-02-05 -0.002912  0.000973
2007-02-06 -0.008633 -0.004876
2007-02-07 -0.001704 -0.000391
2007-02-08  0.001704 -0.010618
2007-02-09 -0.002480  0.001777
2007-02-12 -0.004199 -0.000987
2007-02-13  0.008536  0.001382
2007-02-14  0.002624  0.012934
...              ...       ...
2019-04-05  0.002125 -0.000429
2019-04-08  0.012655  0.001713
2019-04-09 -0.002958  0.008308
2019-04-10 -0.000096  0.005500
2019-04-11  0.000955 -0.003170
2019-04-12  0.002955 -0.008929
2019-04-15  0.006357 -0.004709
2019-04-16  0.006505 -0.012304
2019-04-17  0.001663  0.006495
2019-04-18  0.001888  0.012318
2019-04-22 -0.000377       NaN
2019-04-23 -0.027252       NaN
2019-04-24  0.005124 -0.005128
2019-04-25 -0.003962  0.004062
2019-04-26  0.024674  0.008710
2019-04-29 -0.010255 -0.005089
2019-04-30  0.016094  0.035091
2019-05-01 -0.014664       NaN
2019-05-02  0.005986       NaN
2019-05-03  0.004914  0.006929
2019-05-06 -0.003778  0.001421
2019-05-07 -0.009317 -0.003861
2019-05-08  0.003528  0.001627
2019-05-09 -0.007931 -0.001220
2019-05-10  0.016838  0.001220
2019-05-13  0.000943  0.007492
2019-05-14 -0.004818  0.004227
2019-05-15  0.010363  0.006408
2019-05-16  0.013128  0.019763
2019-05-17 -0.006124  0.000978

[3115 rows x 2 columns]

In [10]:
sec_returns['PG'].mean() * 250

0.07121146932227063

In [14]:
# Volatility -- We are taking square root to give std.dev
sec_returns['PG'].std() * 250 ** 0.5

0.17333223084966004

In [16]:
# CoVariance $ Correlation:

In [18]:
PG_var_a = sec_returns['PG'].var() * 250
PG_var_a

0.03004406225131984

In [20]:
BEI_var_a = sec_returns['BEI.DE'].var() * 250
BEI_var_a

0.047106925622491046

In [22]:
cov_matrix = sec_returns.cov()
cov_matrix

              PG    BEI.DE
PG      0.000120  0.000039
BEI.DE  0.000039  0.000188

In [23]:
cov_matrix_a = sec_returns.cov() * 250
cov_matrix_a

              PG    BEI.DE
PG      0.030044  0.009639
BEI.DE  0.009639  0.047107

In [25]:
# This is not the correlation between prices
# This is the correlation between returns which is a more useful comparison
# The correlation table SHOULD NOT be annualized
corr_matrix = sec_returns.corr()
corr_matrix

              PG    BEI.DE
PG      1.000000  0.256299
BEI.DE  0.256299  1.000000

In [26]:
# Calculating Portfolio Risk

In [28]:
weights = np.array([0.5,0.5])

In [30]:
pfolio_var = np.dot(weights.T, np.dot(sec_returns.cov() * 250, weights))
pfolio_var

0.02410700848886073

In [48]:
pfolio_vol = (np.dot(weights.T, np.dot(sec_returns.cov()*250, weights))) ** 0.5
pfolio_vol

0.1552643181444492

In [49]:
# Diversifiable Risk

In [50]:
weights = np.array([0.5,0.5])

In [52]:
weights[0]

0.5

In [54]:
weights[1]

0.5

In [57]:
#diversifiable risk = dr
# dr = pfolio_var - weighted annual variances

dr = pfolio_var - (weights[0] ** 2 * PG_var_a)- (weights[1] ** 2 * BEI_var_a)
dr

0.004819261520408008

In [58]:
float (PG_var_a)

0.03004406225131984